* {
    font-family: Arial, sans-serif;
    max-width: 1500px;
    margin: 0px auto;
    line-height: 1.8;
    background-color:azure;
}

p {
    font-size: 20px;
    text-align: left;
    text-indent: 60px;
}

h2 {
    text-align: left;
}

ul {
    font-size: 20px;
    text-align: left;
}

.container {
    max-width: 1500px;
    margin: 2rem auto;
    font-family: Arial, sans-serif;
}

#slider{
    border-left: 2rem;
    border-top: 100px;
}

#slider{
  flex: 0 0 auto;
}

#slider svg{
  overflow: visible;
  width: auto;
  display: block;
}

#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.control-row {
    display: flex;
    align-items: center;
}

.control-row.buttons {
    gap: 10px;
}

/* Base button */
.mode-btn {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #999;
  background: #f3f3f3;
  color: #111;
  cursor: pointer;
}

.mode-btn.active {
  background: #2b6cb0;
  border-color: #2b6cb0;
  color: white;
}

/* Optional hover */
.mode-btn:hover {
  background: #917a7a;
}

#header {
    text-align: center;
    margin-bottom: 5rem;
}

#top-ten{
    text-align: center;
    margin-bottom: 2rem;
}

#vis svg{
    margin: 2rem 0;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 4px;
    pointer-events: none;
    user-select: none;
}

.brush {
  pointer-events: all;
}

#legend-and-map {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px; 
}

#legend {
    flex: 0 0 auto;
}

#vis {
    flex: 1 1 auto;
}


