* {
    font-family: Arial, sans-serif;
    max-width: 1500px;
    margin: 0px auto;
    line-height: 1.8;
}

.container {
    max-width: 1500px;
    margin: 2rem auto;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 0.5rem;
}

#vis svg{
    margin: 2rem 0;
}

#slider svg{

    display: flex;
    justify-content: center;
    text-align: center;
}
